* {
  box-sizing: border-box;
  margin: 0;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  font: 600 16px/18px 'Open Sans', sans-serif;
}

.nav-container {
  position: fixed;
  border: 1px solid black;
  top: 0;
  height: 80px;
  width: 100%;
  padding: 10px;
  background-color: #fff;
  z-index: 999;
}

.title {
  position: absolute;
  top: 30px;
  left: 20px;
  color: rgba(26, 106, 33, 0.9);
  font-size: 60px;
  font-family: 'GoodDog Cool'
}

.create-button {
  position: absolute;
  top: 30px;
  right: 20px;
  text-transform: uppercase;
  color: #fff;
  border: none;
  padding: 7px 10px;
  width: 100px;
  border-radius: 6px;
  background-color: rgba(58, 186, 58, 1);
}

.create-button:hover {
  background-color: rgba(58, 186, 58, 0.7)
}

.main-container {
  position: relative;
  width: 100%;
  top: 80px;
  padding: 20px;
}

.dog-wrap {
  position: absolute;
  left: 0;
  width: 50%;
}

.comment-wrap {
  position: absolute;
  right: 0;
  width: 46%;
}

.dog-html {
  position: relative;
  width: 100%;
  height: 300px;
  margin-bottom: 20px;
  margin-top: 10px;
  margin-left: 10px;
  border: 1px solid lightgrey;
}

.top-dog {
  width: 100%;
  height: 50px;
  padding: 5px;
  background-color: rgba(58, 186, 58, 1);
}

.dog-heading {
  color: #fff;
  font-family: 'Florence';
  text-align: center;
  font-size: 40px;
  margin-top: 8px;
}

.bottom-dog {
  position: relative;
  width: 100%;
  height: 250px;
  overflow: auto;
}

.dog-symptom {
  font-family: 'Existence';
  margin-bottom: 15px;
  color: rgba(26, 106, 33, 0.9);
  margin-left: 10px;
  margin-top: 10px;
  margin-right: 10px;
}

.symptom-span, .info-span {
  color: black;
}

.dog-info {
  font-family: 'Existence';
  color: rgba(26, 106, 33, 0.9);
  margin-left: 10px;
  margin-top: 10px;
  margin-right: 10px;
}

.comment-button {
  position: absolute;
  bottom: 0;
  height: 50px;
  text-transform: uppercase;
  color: #fff;
  font: 20px 'Existence';
  border: none;
  padding: 7px 10px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 999;
}

.comment-button:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.2)
}

.comment-html {
  position:relative;
  background:rgba(26, 106, 33, 0.3);
  width:315px;
  padding:10px;
  border-radius:5px;
  margin:10px;
  max-height:110px;
}

.comment-html:before {
  content:"";
  position:absolute;
  width:0px;
  height:0px;
  border: 10px solid;
  border-color: transparent rgba(26, 106, 33, 0.3) transparent transparent;
  left:-20px;
  top:40px;
}

.comment-by {
  font-family: 'Florence';
  font-size: 15px;
}

.comment-contents {
  font-family: 'Existence';
  font-size: 10px;
}
